
.about{
    p{
        color: @black-light;
    }
}
.contact-form {
        border-left: 1px solid #ced4da;
    form {
        button {
            background-color: #2195f1;
            color: white;
            font-weight: 500;
            float: right;
        }
    }
}
