body {
    a {
        color: @grey-dark;
        &:hover {
            color: @primary;
            text-decoration: none;
        }
    }
}

header {
    .onBigScreen {
        padding-top: 2rem;
        .left {
            img {
                width: 380px;
            }
            ul {
                padding: 1rem 0rem;

                li {
                    padding: 0px 12px;
                    border-left: 2px solid @grey;
                    a {
                        color: @grey-dark;
                        font-weight: 500;
                        &:hover {
                            color: @primary;
                        }
                    }
                    .active {
                        color: @primary;
                    }
                }
            }
        }
        .right {
            .banner {
                padding-bottom: 40px;
            }
        }
    }
}

section {
    margin-bottom: 80px;
}



footer {
    text-align: center;
    padding: 70px 40px;
    margin: 0px;
    background-color: #080808;
    h3 {
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
        color: #f7f7f7;
    }

    h5 {
        display: inline-block;
        font-size: 22px;
        font-weight: 200;
        color: #f7f7f7;
    }
    .circle {
        border-radius: 50%;
        margin: .15em;
        font-size: 20px;
        margin-right: 6px;
    }

    .fa-twitter {
        background: #4099ff;
        color: #fff;
        padding: 8px 9px;
    }



    .fa-facebook {
        background: #3b5998;
        color: #fff;
        padding: 7px 13px;
    }

    .fa-envelope {
        background: #ffffff;
        color: #151414;
        padding: 8px 9px;
    }

    .footer-text {
        margin-top: 40px;
        color: #656565;
    }
}
