#rankings{
 .filters{
    margin-bottom: 20px;
     button{
             background-color: white;
    color:@black-light;
    border: 1px #d4d4d4 solid;

     }

     input{
        border: 1px #d4d4d4 solid;
        color:@black-light;
        padding: .375rem .75rem;
        border-radius: .25rem;
        vertical-align: bottom;
     }
     .search-btn{
        width: 160px;
        cursor: pointer;
        &:hover{
            background-color: rgb(243, 243, 243);
        }
     }
     .btn.focus, .btn:focus {
        box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.568);
    }
 }

 tr{
    cursor: pointer;
 }
}
