@import "variables.less";
@import "header-footer.less";
@import "contact.less";
@import "rankings.less";
@import "team.less";

header{
    margin-bottom: 40px;
}
#intro {
    margin-top: 24px;
    .intro-text {
        padding-top: 50px;
        p {
            font-size: 22px;
            color: @black-light;
        }
    }
}

#top-ten, #rankings, #team-info {
    .body {
        margin-bottom: 40px;
        h2 {
            color: @black-light;
        }
        table {
            img {
                width: 40px;
                margin-right: 4px;
            }

            th,
            td {
                text-align: center;
                border: 2px solid #d4d4d4;
            }
        }
    }
}


@media (max-width: 576px) {

    header .onBigScreen .left ul li {
        padding: 0 4px;
        a {
            font-size: 14px;
        }
    }

    #intro .intro-text p {
        font-size: 18px;
    }
}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}
