#team-info {
    h2,
    h3 {
        color: @black-light;
        margin-bottom: 20px;
    }
    .left {
        img {
            height: auto;
            width: 240px;
        }
        h5 {
            color: @black-light;
            font-weight: 400;
            line-height: 36px;
        }
    }
}